<div class="text-center">
  <h3 class="display-5">我的购物车</h3>
</div>

<div class="my-3">
  <% if @cart.line_items.present? %>
    <div id="cart">
      <%= render @cart %>
    </div>
  <% else %>
    <p>购书车是空的哦～！
      <%= link_to '去看看吧！', root_url %>
    </p>
  <% end %>
</div>
